@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--Giao commented here-->
<div class="text-center">
    <h1 class="display-4">DeSimone Capstone Project</h1>
    <h2 class="display-6">Seattle University - Team 2</h2>
</div>
