<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand px-md-3" href="#"><img src="logo.png"/></a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <div class="text-white px-md-3"><button class="btn btn-primary">Login</button></div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark navbar-bottom">
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Dashboard
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="submission">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Submission
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="monitoring">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Monitoring
        </NavLink>
    </div>
</nav>
